.App {
  text-align: center;
}
header {
  background-color: #a99ead;

}
.titleBlock {
  padding: 90px;
}
.navbar {
  grid-area: nav;
 display: grid;
 grid-template-areas: 'boot ul';
}
ul {
 grid-area: ul;
 list-style-type: none;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.boot {
 grid-area: boot;
}
.blogPost {
border-bottom: 3px solid #bbb;
width: 500px;
margin-left: 31%;
}
.one {
grid-area: one;
}
.two {
grid-area: two;
}
.three {
grid-area: three;
}
.four {
grid-area: four;
}
button {
  margin-top: 5px;
  padding: 7px;
  background-color: #008cba;
  color: white;
  margin-right: -33%;
}
footer > h6{
  margin-top: 100px;
  font-weight: lighter;
}