.App {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 5px;
  margin-left: 40%;
  border: 2px solid #888;
}
.post {
 
  width: 400px;
  margin-left: 32%;
  border: 5px solid #1d86ff;
  margin-bottom: 5px;
}
.title {
  color: #ff741d;
}
.content {
  color: #ca1dff;
}
.name {
  color: #ffe51d;
}